
@mixin style-button ($color) {
    height : 8rem;
    width: 57.1rem;
    text-align: center;
    color: $color;

}

@mixin absolute-center ($top){
    position: absolute;
    top: $top;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

@mixin absolute-left ($left){
    position: absolute;
    top: 50%;
    left: $left;
    transform: translate(-50%, -70%);
    text-align: left;
    
}

@mixin heading ($color, $alignement, $marginB){
    font-family: $font-BlackItalic;
    font-size: $size-big;
    text-transform: uppercase;
    color:($color);
    display:block;
    text-align:($alignement);
    margin-bottom:($marginB);
}

@mixin heading-sub ($marginB, $color) {
    display: block;
    font-size: $size-medium;
    margin-bottom: ($marginB);
    font-family: $font-Roman;
    color: ($color)
}