//color
$color-green-dark:#052C33;
$color-pink:#FFF0F0;
$color-white:#FFFFFF;

//typo
$typo-neue-black:'Neue Haas Grotesk Display Black Italic';
$typo-neue-roman:'Neue Haas Grotesk Display Roman';
$typo-neue-medium:'Neue Haas Grotesk Display Black Italic';

//font-size
$size-big:5.5rem;
$size-medium:1.65rem;
