*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  color: #052C33; }

span {
  display: block; }

@font-face {
  font-family: 'Light';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Light.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 45 Light"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Light"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Light.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'BlackItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BlackItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 96 Black Italic"), local("NeueHaasDisplay-BlackItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BlackItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Medium';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Mediu.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 65 Medium"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Mediu"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Mediu.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Mediu.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Mediu.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ThinItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-ThinItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 36 Thin Italic"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-ThinItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-ThinItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'RomanItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-RomanItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 56 Roman Italic"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-RomanItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-RomanItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-RomanItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-RomanItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'XXThinItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThinItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 16 XXThin Italic"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThinItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThinItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Roman';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Roman.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 55 Roman"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Roman"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Roman.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Roman.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BoldItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BoldItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 76 Bold Italic"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BoldItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BoldItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Thin';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Thin.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 35 Thin"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Thin"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Thin.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Black';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Black.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 95 Black"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Black"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Black.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'XXThin';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThin.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 15 XXThin"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThin"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThin.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'MediumItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-MediumItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 66 Medium Italic"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-MediumItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-MediumItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Bold';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Bold.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 75 Bold"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Bold"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Bold.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'XThin';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThin.eot");
  src: local("Neue Haas Grotesk Display Pro 25 XThin"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThin"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThin.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'LightItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-LightItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 46 Light Italic"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-LightItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-LightItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'XThinItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThinItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 26 XThin Italic"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThinItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThinItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'itc';
  src: url(../assets/fonts/ITC-Century-Std-Book_24537.ttf);
  font-weight: normal;
  font-style: normal; }

.booking-confirmation {
  height: 100vh;
  position: relative; }

.last-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.charte {
  margin-top: 16.3rem; }
  .charte__img {
    height: 17rem; }

.assets {
  margin-top: 12rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20rem; }
  .assets__box {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .assets__box:nth-child(1) {
      padding-right: 11rem; }
    .assets__box:nth-child(2) {
      border-left: 0.5px #707070 solid;
      border-right: 0.5px #707070 solid;
      padding: 0 11rem; }
    .assets__box:nth-child(3) {
      padding-left: 11rem; }
  .assets__logo {
    width: 4rem; }

.heading-secondary {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .heading-secondary__main {
    font-family: "Medium";
    font-size: 2rem;
    margin-bottom: 1.9rem;
    margin-top: 3.7rem; }
  .heading-secondary__sub {
    font-size: 1.65rem;
    font-family: "Roman"; }

.presentation {
  display: flex;
  width: 100%; }

.presentation-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 2px solid red; }
  .presentation-box .presentation-box__story {
    padding: 8rem 10rem;
    white-space: nowrap; }
    .presentation-box .presentation-box__story p:nth-child(2) {
      font-size: 3.6rem; }
    .presentation-box .presentation-box__story p:nth-child(1) {
      font-size: 3.6rem; }
    .presentation-box .presentation-box__story span.name, .presentation-box .presentation-box__story p {
      font-family: "BlackItalic";
      font-size: 5.5rem;
      text-transform: uppercase;
      color: #052C33;
      display: block;
      text-align: center;
      margin-bottom: 0; }
    .presentation-box .presentation-box__story__content {
      display: block;
      font-size: 1.65rem;
      margin-bottom: 0;
      font-family: "Roman";
      color: #052C33;
      text-align: center;
      margin: 3.3rem 0 1.4rem 0; }
    .presentation-box .presentation-box__story span:nth-child(4) {
      font-size: 1.65rem;
      margin: 2rem auto; }
  .presentation-box .presentation__img {
    background-image: url("../assets/pictures/sisters.jpg");
    width: 100%;
    padding-top: 64%;
    background-size: cover;
    background-position: center; }

.presentation__goal-box {
  background-color: #FFF0F0;
  width: 50%;
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 8rem; }

.presentation__goal {
  margin: 19.5rem auto 15.3rem auto; }
  .presentation__goal p:nth-child(1) {
    display: block;
    font-size: 1.65rem;
    margin-bottom: 0;
    font-family: "Roman";
    color: #052C33;
    font-size: 1.65rem; }

.presentation__goal {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .presentation__goal p:nth-child(2) {
    margin-top: 2rem;
    text-align: center;
    font-family: "Medium";
    font-size: 2.75rem; }

div.assets__box:nth-child(1) > img:nth-child(1) {
  width: 2.5rem; }

.btn {
  text-decoration: none;
  padding: 1.9rem 10.45rem;
  display: inline-block;
  border-radius: 2.8rem;
  font-family: "Medium"; }
  .btn:visited {
    color: inherit; }
  .btn--pink {
    font-size: 1.65rem;
    background-color: #FFF0F0; }

.text-box--left {
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translate(-50%, -50%);
  text-align: left; }

.text-box--center {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute; }

.heading-primary ul {
  list-style-type: none; }

.heading-primary__main {
  white-space: pre;
  font-family: "BlackItalic";
  font-size: 5.5rem;
  text-transform: uppercase;
  color: #052C33;
  display: block;
  text-align: center;
  margin-bottom: 1.3rem; }
  .heading-primary__main--white {
    font-family: "BlackItalic";
    font-size: 5.5rem;
    text-transform: uppercase;
    color: white;
    display: block;
    text-align: left;
    margin-bottom: 3.3rem; }
    .heading-primary__main--white--center {
      text-align: center;
      margin-bottom: 0; }
    .heading-primary__main--white:first-child {
      margin-bottom: 0; }

.heading-primary__sub {
  display: block;
  font-size: 1.65rem;
  margin-bottom: 6rem;
  font-family: "Roman";
  color: #052C33; }
  .heading-primary__sub--white {
    display: block;
    font-size: 1.65rem;
    margin-bottom: 0;
    font-family: "Roman";
    color: white; }

.section-image {
  background-image: url("../assets/pictures/image_1_propos.png");
  height: 90vh;
  background-position: bottom;
  background-size: cover;
  position: relative; }
  .section-image--curly {
    background-image: url("../assets/pictures/image_3_aPropos.png");
    background-size: cover;
    height: 75vh;
    position: relative;
    white-space: nowrap;
    background-position: top; }

.header-white {
  height: 8rem;
  border-bottom: black solid .1rem;
  position: relative; }
  .header-white__logo {
    height: 1.85rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.header-green {
  height: 8rem;
  background-color: #052C33;
  padding-left: 6.3rem;
  padding-right: 8.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1; }
  .header-green__logo {
    height: 2.5rem;
    margin-top: 2.5rem;
    float: left; }
  .header-green nav {
    float: right;
    color: white;
    font-size: 1.23rem;
    margin-top: 3rem; }
    .header-green nav ul {
      list-style-type: none; }
      .header-green nav ul li {
        display: inline-block;
        margin-left: 8rem; }
        .header-green nav ul li a {
          text-decoration: none;
          color: white; }
