.btn {
            
    text-decoration: none;
    padding: 2rem 9.8rem;
    display: inline-block;
    border-radius: 2.8rem;
    font-family: $font-Medium;
    font-size: $size-medium;
    width: 45rem;
    
    text-align: center;
    &:visited{
        color: inherit;
    }
    
    &--pink {
        
        background-color: $color-pink;
    }

    &--white {
        background-color: white;
    }

    &--blue {
        background-color: transparent;
    }

    &--border {
        margin-bottom: 2.2rem;
        border: 0.05rem $color-green-dark solid;
    }


}

