.btn {
            
    text-decoration: none;
    padding:1.9rem 10.45rem;
    display: inline-block;
    border-radius: 2.8rem;
    font-family: $font-Medium;
    font-size: $size-medium;
    &:visited{
        color: inherit;
    }
    
    &--pink {
        
        background-color: $color-pink;
    }

    &--blue {
        background-color: $color-blue;
    }

    &--border {
        border: 0.05rem $color-green-dark solid;
    }


}

