.btn {
            
    text-decoration: none;
    padding:1.9rem 10.45rem;
    display: inline-block;
    border-radius: 2.8rem;
    &:visited{
        color: inherit;
    }
    &--pink {
        
        font-size: $size-medium;
        background-color: $color-pink;
    }


}

