
.heading-primary {

    ul {
        list-style-type: none;
    }
    
    &__main {
        white-space:pre;
        @include heading ($color-green-dark, center, 1.3rem);

        &--white {
            @include heading (white, left, 3.3rem);

           &--center {
               text-align: center;
               margin-bottom: 0;
           }

            &:first-child {
                margin-bottom:0;
            }

        }
    }

    
    &__sub{
        @include heading-sub (6rem, $color-green-dark);

        &--white{
            @include heading-sub (0, white);

         
        }
    }
}


