.heading-primary {
    
    text-align: center;

    
    &--main {
        white-space:pre;
        display: block;
        text-transform: uppercase;
        font-size: $size-big;
        margin-bottom: 1.3rem;
        font-family: $font-BlackItalic;
    }
    &--sub{
        display: block;
        font-size: $size-medium;
        margin-bottom: 6rem;
        font-family: $font-Roman;
    }
}

