form{

    
    input {
        border: none;
        border-bottom: $color-grey 0.05rem solid;
        padding-bottom: 2rem;
        background-color: transparent;
        width: 100%;

        &:not(last-child){
    
    margin-bottom: 5rem;
        }

        &::placeholder {
            color: $color-green-dark;
            
    @include roman_medium;

            opacity:1
        }
        
    }
} 

hr {
    
    
    width: 100%;
    position: relative;
    margin-top: 1.3rem;
    margin-bottom:5rem;
    color:$color-light-grey;
   
    &::after{
        content: 'ou';
       
        @include absolute-center (50%);
        background-color: $color-blue;
        @include roman_medium;
       
        height: 20px;
        width: 30px;
        color:$color-green-dark;
        
        padding: 0 5rem 0 3rem;
    }

}



