.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;

  a {
    color: inherit;
    display: block;
  }
  
  .forget_pwd{
    font-size: $size-small;
    margin-bottom: 3.1rem;
    margin-top: 2rem;
    
  }
  &__box {
    
    height: calc(100% - 8rem);
    display: flex;
    
    
    &__image {
      width: 35%;
      
      position : sticky;
      
      background-image: url(../assets/pictures/image_connexion.png);
      background-position: bottom;
      background-size: cover;
      
    }
    
    &__content {
      background-color: $color-blue;
      width: 65%;
      // position: relative;
     
        display: flex;
        flex-direction: column;
        align-items: center;     
        padding-top: 16rem;
        overflow: scroll;
         
  
    }

    &__social-media {
      width: max-content;
      display: flex;
      flex-direction: column;
      
     }
     
  }
}

.button_social{
  margin-top: 8.4rem;
  margin-bottom: 1.3rem;
}

.sign-up {
  
  margin-top: 3.5rem;
  margin-bottom: 6rem;

}

.last-input {
  margin-bottom: 0;
  
}
 