.last-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.charte {
    margin-top: 16.3rem;

&__img {
    height: 19rem;
}

}

.assets {
    margin-top: 12rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20rem;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-child(1) {
            padding-right: $padding-assets;
        }

        &:nth-child(2) {
            
                border-left: .5px $color-light-grey solid;
                border-right: .5px $color-light-grey solid;
                padding: 0 $padding-assets;
               
        }

        &:nth-child(3) {
            padding-left: $padding-assets;
        }

    }

    &__logo {
        width: 4rem;
    }

   
}

.heading-secondary {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__main {
        font-family: $font-Medium;
        font-size: 2rem;
        margin-bottom:1.9rem;
        margin-top:3.7rem;
    }

    &__sub {
        font-size:$size-medium;
        font-family: $font-Roman;
    }

    
}
